

*{
  margin:0;
}

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

/*BODY*/

/*elements on every page */

.skill-header{
  text-align: center;
  color:black;
  margin-top:100px;
  margin-bottom:10px;
  font-weight: 100;
  font-size: 4em;
  /*font-family: 'Patua One', cursive;*/
}

.navbar-default .navbar-toggle {
     border-color: transparent; 
}

.navbar-default .navbar-toggle:hover {
     background-color: transparent; 
}
.navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:visited, .navbar-default .navbar-toggle:focus{
     background-color: transparent; 
}

.div-box{
  border-bottom: solid 1px #DBA24D;
  margin-bottom:50px;
  margin-top: 30px;
}

/*NAV BAR*/

.navbar-default .navbar-nav > li > a:hover {
 color:#DBA24D;
 transition: all 0.3s linear;
 -webkit-transition: all 0.3s linear;
 -moz-transition: all 0.3s linear;
 letter-spacing: .2vw;


}

.navbar-default:hover  a.navbar-brand:hover{
  color:#DBA24D;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  letter-spacing: .4vw;
}

.navbar-brand{
  font-size: 30px;
  font-weight: 100;
  letter-spacing: .4vw;
}

.navbar-default{
  color:#DBA24D;
  font-size: 20px;
  font-weight: 200;
  font-family: font-family: 'Patua One', cursive;
  margin-right: 0px;
}

a.nav-buttons:hover{
 text-decoration: none;
}

.navbar-nav{
  list-style: none;
  letter-spacing: .2vw;
}

.navbar{
  background: transparent;
  border:none;
  box-shadow: none;
}

.background{
 background-color:white;
}


.navbar-toggle{
  background-color:white;
}

.icon-bar{
  background-color:white;
}

.nav{
  text-align: left;
}

/*INDEX SECTION*/

.index-container{
  margin-bottom: 220px;
}



#index{
  background-image: url("lights .jpg");
  background-attachment:fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*background-repeat: no-repeat;*/
  width: 100%;
  min-height: 100%;
}

.center-list{ /*line up name, button, line on page*/
  text-align: center;
  list-style: none;
  padding-left: 0px;
}

.center{ /*line up name, button, line on page*/
  padding-right: 0px;
  text-align: center;
}

@keyframes fadein {
    from { opacity: 0; letter-spacing: 1vw;}
    to   { opacity: 1; letter-spacing: .5vw;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; letter-spacing: 1vw;}
    to   { opacity: 1; letter-spacing: .5vw;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; letter-spacing: 1vw;}
    to   { opacity: 1; letter-spacing: .5vw;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; letter-spacing: 1vw;}
    to   { opacity: 1; letter-spacing: .5vw;}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; letter-spacing: 4vw;}
    to   { opacity: 1; letter-spacing: .5vw;}
}
/*name and button*/

.name{ /*<--title and paragraph-->*/
  font-size: 6vw;
  letter-spacing: .5vw;
  font-weight: 400;
  color: white;
  font-family: font-family: 'Patua One', cursive;
  margin-left: 0px;
  text-align: center;
  margin-top: 220px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
   animation: fadein 2s;
}

.web{ /*<--title and paragraph-->*/
  letter-spacing: .5vw;
  font-size: 6vw;
  font-weight: 400;
  color: white;
  font-family: font-family: 'Patua One', cursive;
  margin-left: 0px;
  text-align: center;
  margin-top: 10px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}


.get-in-touch{
  letter-spacing: 1px;
  margin-top: 40px;
  background-color: transparent;
  border:1px white solid;
  color: white;
  font-size:25px;
  font-family: font-family: 'Patua One', cursive;
  font-weight: 100;
  position:relative;
  text-align: center;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}



.get-in-touch:hover{
  background-color:white;
  letter-spacing: 2px;
}


/*ABOUT SECTION*/


#about{
  background-color:white;
  background-attachment:fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.about-container{
  margin-bottom: 110px;
}


.head-shot{
  margin-top: 30px;
  max-width: 80%;
  max-height: 100%;
}

.bio{
  font-size: 2em;
  color:#777;
  margin-top: 65px;
  letter-spacing: 2px;
  font-weight: 100;
}

/*SKILL SECTION */

#skills{
  background-color:#f3f3f3;
  background-attachment:fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
}

.skills-container{
  margin-bottom: 20px;
}

.skill-header-skills{
  text-align: center;
  color:black;
   margin-top:100px;
  margin-bottom:10px;
  font-weight: 100;
  font-size: 4em;
  font-family: font-family: 'Patua One', cursive;
}

.div-box-skills{
  border-bottom: solid 1px #DBA24D;
  margin-bottom:50px;
  margin-top: 30px;
}




/*languages */

i.fa {
  font-size: 40px;
}


.language-text{
  font-size:20px;

}

.languages{
  color:#5CB8E6;
  font-family: inherit;
  display: inline-block;
  padding:30px;
  margin-bottom: 30px;
}

.language-divs{
  margin-top: 20px;
  text-align: center;
}


/*PROJECT SECTION*/

#projects{
  margin-bottom:70px;
}

.skill-header-projects{
  text-align: center;
  color:black;
   margin-top:100px;
  margin-bottom:10px;
  font-weight: 100;
  font-size: 4em;
  font-family: font-family: 'Patua One', cursive;
}

.div-box-projects{
  border-bottom: solid 1px #DBA24D;
  margin-bottom:20px;
  margin-top: 30px;
}

#project{
  background-color: white;
}

.projects-container{
  margin-bottom: 50px;
}

.project-section{
  background-color: white;
  margin-bottom: 30px;
}

.portfolio-image{
  width:75%;
}


/*slides */

.slide-image{
  margin-bottom: 140px;
}



.caption{
  margin-bottom: 20px;
}

.carousel-control {
  top:40%;
  opacity: 10;
}

.center-block{
  text-align: center;
}

.carousel-control.right {
  background-image:none;
  font-size: 50px;
  color:#DBA24D;
  text-shadow:none;
}

.carousel-control.left{
  background-image:none;
  font-size: 50px;
  color:#DBA24D;
  text-shadow:none;
}

.cat-site-caption{
  font-family: inherit;
  color: black
  text-shadow:none;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 2.9vw;
}

.owl-dots {
    margin-top: 0px;
    z-index: 1000;
    position: relative;
    text-align: center;
    margin-top: -20px
  }

div.owl-dot.active {
    border: 5px black solid;
    border-radius: 6px;
    display: inline-block;
    margin: 1.2vw;
  }

div.owl-dot {
     border: 5px silver solid; 
    border-radius: 6px;
    display: inline-block;
    margin: 1.2vw;
}

.owl-carousel .owl-nav .owl-prev img {
    max-width: 25px;
    z-index: 1002;
    position: absolute;
    margin-top: -20%;
    margin-left: 2%;
}


.owl-carousel .owl-nav .owl-next img{
    margin-left: 95%;
    max-width: 25px;
    z-index: 1002;
    position: absolute;
    margin-top: -20%;
}



 .project-name{
  font-family: inherit;
  color: black;
  font-size: 20px;
  text-shadow:none;
  font-weight: 200;
  font-size: 3vw;
  margin-top: 7%;

}

.sub-cat-site-caption3{
  font-family: inherit;
  color: #6C6C50;
  font-size: 2vw;
  text-shadow:none;
  font-weight: 100;
  text-align: center;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;

}


.sub-cat-site-caption2{
  font-family: inherit;
  color: #6C6C50;
  font-size: 2vw;
  text-shadow:none;
  font-weight: 100;
  text-align: center;
  letter-spacing: 1px;
  margin-left: 20px;
  margin-right: 20px;

}

.click-to-view{
 letter-spacing: 1px;
 margin-top: 10px;
 margin-bottom:30px;
 background-color:white;
 border:1px  #777 solid;
 color:#777;
 font-size:25px;
 font-family: font-family: 'Patua One', cursive;
 font-weight: 100;
 position:relative;
 text-align: center;
 transition: all 0.3s linear;
 -webkit-transition: all 0.3s linear;
 -moz-transition: all 0.3s linear;

}

a.click-to-view-text{
  color:black;
  font-family: font-family: 'Patua One', cursive;
  letter-spacing: 2px;
  font-size: 2vw;
   transition: all 0.3s linear;
 -webkit-transition: all 0.3s linear;
 -moz-transition: all 0.3s linear;
 font-weight: 200;

}

a.click-to-view-text:visted, a.click-to-view-text:focus, a.click-to-view-text:active{
   color:black;
}

.click-to-view-text:hover{
  color:black;
  font-family: font-family: 'Patua One', cursive;
  letter-spacing: 3px;
  font-size: 3vw;
  text-decoration: none;

}

.click-to-view:hover{
  background-color:white;
  border:1px  #777 solid;
  color:#777;
  letter-spacing: 2px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.carousel-indicators .active{
  background-color:#4d4d4d;
}

.carousel-indicators li {
 border:1px solid #4d4d4d;
}

.carousel-indicators {
  margin-bottom: -10px;
}



/*CONTACT SECTION*/
#contact{
  background-image:url("citystreet.png");
  background-attachment:fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
}

.contact-container{
  margin-bottom: 170px;
}

.contact-section{
  background-color: #6C6C50;
}

.div-box-contact{
 border-bottom: solid 1px white;
 margin-bottom:150px;
 margin-top: 20px;
}

.skill-header-contact{
  text-align: center;
  color:white;
   margin-top:100px;
  margin-bottom:10px;
  font-weight: 100;
  font-size: 4em;
  font-family: font-family: 'Patua One', cursive;
}

.center{
  text-align: center;
}

.contact-info{
  font-size:1.7em;
  color:white;
  letter-spacing: 2px;
  font-weight: 100;
}

.contact-info2{
  font-size:1.7em;
  color:white;
  letter-spacing: 2px;
  font-weight: 100;
}

a.contact-info2:hover, a.contact-info:hover{
  text-decoration: none;
  color:white;
}

.fa-envelope{
  color:white;
  margin-right:20px;
}

.fa-phone-square{
  color:white;
  margin-right:20px;
}


/*social media icons*/
.github{
  margin-left:-25px;
}

.icons{
  list-style-type: none;
  text-align: center;
  color:white;
  font-size: 40px;
}

.socialmedia-icons{
  display: inline-block;
  text-decoration: none;
}

.space{
  margin-right: 23px;
}

.fa-github:hover{
  color:black;
}

.fa-linkedin:hover {
  color:#007bb6
}

.fa-twitter:hover{
  color:#00aced;
}

.fa-facebook:hover{
  color:#3b5998;
}


.fa-linkedin, .fa-twitter, .fa-facebook, .fa-github{
  color:white;
}

.icons{
  margin-bottom: 100px;
}


.scroll-margin{
  padding-right: 35px;
  padding-left: 35px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.container-fluid{
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

/*<!-- media queries -->*/

/*
NEW CODE FOR OVERLAY*/
/*.caption-hidden{
  /*display:none;*/




/*  .image-responsive:hover {
    opacity: .4;
  }

  .thumb > p {
    position: absolute;
    z-index: 1000;
    margin: 0 auto;
    width:95%;
    line-height: 100%;
    margin-top:20%;
    text-align:center;
    }*/


/*  p.caption-style{
    margin-top:-10%; 
    z-index: 1000;
    width:95%;
    line-height: 100%;
    text-align:center;
    color:black;
    display:inline;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 1px;
  }

  .caption:hover > p{
   margin-top:-10%; 
   z-index: 1000;
   width:95%;
   line-height: 100%;
   text-align:center;
   color:red;
   display:inline;
   font-family: 'Lato', sans-serif;
   font-weight: 200;
   font-size: 18px;
   letter-spacing: 1px;
 }


 .caption:hover > p.caption-style{
   display:inline;
   color:black;
   }*/

   /*origin overlay code*/

   /*END NEW COLD FOR OVERLAY*/

   /*TEST CODE FOR OVERLAY*/

   .project_container {
    max-width: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .project_image {
    width: 100%;
  }

  .project_media {
    position:relative;
  }

  .project_media .overlay {
   font-family: "Helvetica Neue", Helvetica;
   font-weight: 100;
   letter-spacing: 1px;
   font-size: 2vw;
   text-align:center;
   position:absolute;
   top:50%;
   width:100%;
   transform:translate(0%,-50%);
   -webkit-transform:translate(0%,-50%);
   -ms-transform:translate(0%,-50%);
   color:white;
   display:none;
   transition: all 0.3s linear;
   -webkit-transition: all 0.3s linear;
   -moz-transition: all 0.3s linear;
 }

 .project_container:hover img {
  filter: opacity(0.3);
  -webkit-filter: opacity(0.3) ;
  -ms-filter:opacity(0.3);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.project_container:hover .overlay {
  display:block;
}


@media screen and (min-width:1500px)  {
  .web, .name{
    font-size:4.5vw;
  }

}


/*END TEST CODE FOR OVERLAY*/


/*tablet-size lrg */
@media screen and (max-width:991px)  {

  /*ABOUT*/
  .head-shot{
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 50px;
  }

  .bio{
    font-size: 1.7em;
    color:#777;
    margin-top: 30px;
    letter-spacing: 2px;
    font-weight: 100;
    margin-bottom: 50px;
  }



  .sub-cat-site-caption3{
  font-family: inherit;
  color: #6C6C50;
  font-size: 2vw;
  text-shadow:none;
  font-weight: 100;
  text-align: center;
  letter-spacing: 1px;
  margin-left: 20px;
  margin-right: 20px;

}
.name{
    margin-top: 220px;
}
}

@media screen and (max-width:800px) {

.name, .web{
  font-size:8vw;
}
}
/*tablet-size med*/
@media screen and (max-width:768px)  {

  a.click-to-view-text, {
  color:black;
  font-family: font-family: 'Patua One', cursive;
  letter-spacing: 2px;
  font-size: 3vw;
   transition: all 0.3s linear;
 -webkit-transition: all 0.3s linear;
 -moz-transition: all 0.3s linear;
 font-weight: 200;

}



a.click-to-view-text:hover, {
  color:black;
  font-family: font-family: 'Patua One', cursive;
  letter-spacing: 3px;
  font-size: 4vw;
  text-decoration: none;

}


    .project-name{
  font-family: inherit;
  color: black;
  text-shadow:none;
  font-weight: 200;
  font-size: 6vw;
  letter-spacing: 1px;
}

.owl-prev, .owl-next{
  display: none;
}



.sub-cat-site-caption3, .sub-cat-site-caption2 {
    font-family: inherit;
    color: #6C6C50;
    font-size: 4vw;
    text-shadow: none;
    font-weight: 100;
    text-align: center;
   letter-spacing: 1px;
}


  /*ALL SECTIONS */
  .section-header{
    font-size:3em;
  }

  .skill-header-contact, .skill-header, .skill-header-skills .skill-header-projects{
    margin-top:70px;
    margin-bottom:10px;
    font-weight: 100;
    font-size: 3em;
    font-family: font-family: 'Patua One', cursive;
  }

  .owl-dots{
   margin-top:0px;
  }

  /*INDEX SECTION*/
  .navbar{
    background-color: white;
  }

  .div-box{
    margin-bottom: 20px;
    margin-top: 20px;
  }


  .name{
    margin-top: 280px;
}

  

  /*SKILLS SECTION*/
  i.fa {
    font-size: 35px;
  }

  .language-text{
    font-size:15px;
  }

  .skill-header-contact{
    color:white;
    margin-top:20px;
    margin-bottom:10px;
    font-weight: 100;
    font-size: 3em;
    font-family: font-family: 'Patua One', cursive;
  }


  /* ABOUT SECTION*/

  .head-shot{
   margin-top: 30px;
   max-width: 60%;
   max-height: 100%;
 }

 /*  CONTACT SECTION*/
 .contact-container{
  margin-bottom: 30px;
}

.about-container{
  margin-bottom: 20px;
  padding-bottom: 40px;
}

.skills-container{
  margin-bottom: 5px;
}
}




/*tablet-size sm*/
@media screen and (max-width:580px)  {

.skill-header-contact, .skill-header, .skill-header-skills .skill-header-projects{
    margin-top:100px;
    font-size: 3em;
  }

 .skill-header-skills, .skill-header-projects{
  text-align: center;
  color:black;
  margin-bottom:10px;
  font-weight: 100;
  font-size: 3em;
  font-family: font-family: 'Patua One', cursive;
}
.skill-header-contact{
  font-size:3em;
  color:white;
}

.project-name{
margin-top: 0px;
}

 
a.click-to-view-text:hover {
  color:black;
  font-family: font-family: 'Patua One', cursive;
  letter-spacing: 3px;
  font-size: 4vw;
  text-decoration: none;

}

 a.click-to-view-text{
  color:black;
  font-family: font-family: 'Patua One', cursive;
  letter-spacing: 2px;
  font-size: 5vw;
   transition: all 0.3s linear;
 -webkit-transition: all 0.3s linear;
 -moz-transition: all 0.3s linear;
 font-weight: 200;

}


.owl-dots{
  margin-top: 10px;
}



/*  INDEX SECTION*/



.get-in-touch{
  background-color:white;
  color:gray;
}


/*ABOUT SECTION*/
.about-container{
  margin-bottom: 20px;
}

.bio{
  margin-bottom: 10px;
}

.head-shot{
 margin-top: 20px;
 max-width: 80%;
 max-height: 100%;
 margin-bottom: 10px;
}



/*SKILLS SECTION*/


/*PROJECT SECTION*/
.project-section{
  margin-bottom: 60px;
}

.carousel-div{
 text-align: center;

}

.click-to-view{
  margin-bottom: 80px;
}

.carousel-indicators{
  margin-bottom: -40px;
}
}



/*mobile-size*/
@media screen and (max-width:500px)  {

  .navbar-brand{
  font-size: 25px;
  font-weight: 100;
  letter-spacing: .4vw;
}

  #index{
  background-image: url("lights.jpg");
  background-attachment:fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*background-repeat: no-repeat;*/
  width: 100%;
  min-height: 100%;
}


  /*ALL SITES */
  .skill-header-skills, .skill-header, .skill-header-projects{
    font-size:2.4em;
    margin-top: 100px;
  }
  .skill-header-contact{
    font-size:2.4em;
    margin-top: 100px;
  }


  .skill-header-contact{
    color:white;
  }
  /*skills*/
  .div-box-skills{
    border-bottom: solid 1px #DBA24D;
    margin-bottom:10px;
    margin-top: 20px;
  }

  /*contact*/
  .div-box-contact{
    border-bottom: solid 1px white;
    margin-bottom:100px;
    margin-top: 20px;
  }

  /*about*/
  .div-box-projects{
    border-bottom: solid 1px #DBA24D;
    margin-bottom:45px;
    margin-top: 20px;
  }


  /*INDEX*/
  .index-container{
    margin-bottom: 30px;
  }

  #index {
    position: relative;
    display: block;
    height: auto;
    width: auto;
    background-color: #222222;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 100px 0;
    margin-bottom: 0px;
  }

  .name{

    margin-top: 42%;
    font-weight: 400;
  }
  .web{

    font-weight: 400;
  }

  .get-in-touch{
    margin-top: -5px;
  }





  /*PROJECTS SECTION*/

  .portfolio-image{
    width:55%;
  }

  .carousel-div{
   text-align: center;
   font-size:

 }

 .cat-site-caption{
  display:none;
}

.sub-cat-site-caption{
  display:none;
}






.carousel-indicators{
  margin-bottom: -40px;
}

.click-to-view{
  letter-spacing: 1px;
  background-color: white;
  color:black;
  margin-bottom: 160px;
  margin-top: 0px;
  font-size: 23px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;


}
/*CONTACT SECTION*/
#contact{
  position: relative;
  display: block;
  height: auto;
  width: auto;
  background-color: #222222;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-bottom: 240px;
  margin-bottom: 0px;
  margin-top: -20px;
}

.contact-info{
  font-size:1.2em;
  color:white;
  letter-spacing: 2px;
  font-weight: 300;
}
.contact-info2{
  font-size:1.3em;
  color:white;
  letter-spacing: 2px;
  font-weight: 300;
}
.contact-container{
  margin-bottom: 70px;
}
.icons{
  margin-top: -20px;
  margin-bottom: 0px;
  padding-bottom: 0px;

}

  .skill-header-skills, .skill-header, .skill-header-projects{
    font-size:2.4em;
    margin-top: 100px;
  }

}


