

*{
	margin:0;
}


html, body {
	width: auto !important;
	overflow-x: hidden !important;
}

a:hover, a:visited, a:link, a:active{
	text-decoration: none;

}


/*BODY*/

/*elements on every page */



.navbar-default .navbar-toggle {
	border-color: transparent; 
}

.navbar-default .navbar-toggle:hover {
	background-color: transparent; 
}
.navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:visited, .navbar-default .navbar-toggle:focus{
	background-color: transparent; 
}

.div-box{
	border-bottom: solid 1px #DBA24D;
	margin-bottom:50px;
	margin-top: 30px;
}

/*NAV BAR*/

.navbar-default .navbar-nav > li > a:hover {
	color:#DBA24D;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	letter-spacing: .2vw;


}

.navbar-default:hover  a.navbar-brand:hover{
	color:#DBA24D;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	letter-spacing: .4vw;
}

.navbar-brand{
	font-size: 30px;
	font-weight: 100;
	letter-spacing: .4vw;
}

.navbar-default{
	color:#363636;
	font-size: 20px;
	font-weight: 200;
	font-family: font-family: 'Patua One', cursive;
	margin-right: 0px;
}

a.nav-buttons:hover{
	text-decoration: none;
}

.navbar-nav{
	list-style: none;
	letter-spacing: .2vw;
}

.navbar{
	background: white;
	border:none;
	box-shadow: none;
}



.navbar-toggle{
	background-color:white;
}

.icon-bar{
	background-color:white;
}

.nav{
	text-align: left;
}

/*
NEW NAV CSS */

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 40% 40%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 20% 30%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

#bs-example-navbar-collapse-1{
	display: none;
}

.navbar-toggle {
   display:inline;
}


/*
END NEW NAV CSS 
*/




/*INDEX SECTION*/

.index-container{
	margin-bottom: 220px;
}

.brand-img{
	max-width: 12.5vw;
}

#index{
	background-image: url("home_img.png");
	background-attachment:fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	/*background-repeat: no-repeat;*/
	width: 100%;
	min-height: 800px;
}


/*
FADE IN EFFECTS */

@keyframes fadein {
	from { opacity: 0; letter-spacing: 1vw;}
	to   { opacity: 1; letter-spacing: 0vw;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from { opacity: 0; letter-spacing: 1vw;}
	to   { opacity: 1; letter-spacing: 0vw;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { opacity: 0; letter-spacing: 1vw;}
	to   { opacity: 1; letter-spacing: 0vw;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 0; letter-spacing: 1vw;}
	to   { opacity: 1; letter-spacing: 0vw;}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from { opacity: 0; letter-spacing: 1vw;}
	to   { opacity: 1; letter-spacing: 0vw;}
}
/*name and button*/


@keyframes fadeintwo {
	from { opacity: 0; letter-spacing: .5vw;}
	to   { opacity: 1; letter-spacing: 0vw;}
}

/* Firefox < 16 */
@-moz-keyframes fadeintwo {
	from { opacity: 0; letter-spacing: .5vw;}
	to   { opacity: 1; letter-spacing: 0vw;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeintwo {
	from { opacity: 0; letter-spacing: .5vw;}
	to   { opacity: 1; letter-spacing: 0vw;}
}

/* Internet Explorer */
@-ms-keyframes fadeintwo {
	from { opacity: 0; letter-spacing: .5vw;}
	to   { opacity: 1; letter-spacing: 0vw;}
}

/* Opera < 12.1 */
@-o-keyframes fadeintwo {
	from { opacity: 0; letter-spacing: .5vw;}
	to   { opacity: 1; letter-spacing: 0vw;}
}

/*
END FADE IN EFFECTS */


.title-div{
	position: fixed;
	margin-left: -8vw;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}


.name{ /*<--title and paragraph-->*/
	font-size: 5vw;
	letter-spacing: 0vw;
	font-weight: 500;
	color: white;
	font-family: font-family: helvetica;
	margin-left: 0px;
	text-align: center;
	margin-top: 320px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
}

.bio{
	font-size: 1.7em;
	color:white;
	margin-top: 10px;
	letter-spacing: 0px;
	font-weight: 100;
	text-align:center;
	margin-top: 0px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
}



.opacity-one{
	opacity: 0;
	letter-spacing: 2px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
}


.opacity-two{
	opacity: 0;
	letter-spacing: 2px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
}

.name-two{ /*<--title and paragraph-->*/
display: none;

}

.name-two-fade{
    display: inline-block;
    font-size: 3em;
    font-weight: 400;
    color: white;
    font-family: font-family: helvetica;
    margin-left: 80px;
    text-align: center;
    margin-top: 130px;
	-webkit-animation: fadeintwo 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeintwo 2s; /* Firefox < 16 */
	-ms-animation: fadeintwo 2s; /* Internet Explorer */
	-o-animation: fadeintwo 2s; /* Opera < 12.1 */
	animation: fadeintwo 2s;
}

.product-bio{
display: none;
}

.product-bio-fade{
    display: inline-block;
    font-size: 1.7em;
    color: white;
    margin-left: 90px;
    margin-top: 60px;
    letter-spacing: 0px;
    font-weight: 100;
    text-align: center;
    margin-top: 30px;
	-webkit-animation: fadeintwo 3s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeintwo 3s; /* Firefox < 16 */
	-ms-animation: fadeintwo 3s; /* Internet Explorer */
	-o-animation: fadeintwo 3s; /* Opera < 12.1 */
	animation: fadeintwo 3s;

}




.web{ /*<--title and paragraph-->*/
	letter-spacing: .5vw;
	font-size: 3vw;
	font-weight: 400;
	color: white;
	font-family: font-family: helvetica;
	margin-left: 0px;
	text-align: center;
	margin-top: 10px;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}



/*ABOUT SECTION*/


#about{
	background-color:#ffb601;
	background-attachment:fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	padding-top: 50px;
    height: 650px;
}

.about-container{
	margin-bottom: 110px;
}


.head-shot{
	margin-top: 30px;
	max-width: 100%;
	max-height: 100%;
	transition: all 2s linear;
	-webkit-transition: all 2s linear;
	-moz-transition: all 2s linear;
	margin-left:-300px;
	opacity: 0;
}

  .blue{
   	 margin-left: 50px;
	transition: all 2s linear;
	-webkit-transition: all 2s linear;
	-moz-transition: all 2s linear;
   	opacity: 1;
   }



/*THREE IPADS 
*/

#skills{
	background-color:skyblue;
	background-attachment:fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 100%;
}


.product-one{
	margin-top: 150px;
	max-width: 90%;
	max-height: 100%;
	transition: all 1s linear;
	-webkit-transition: all 2s linear;
	-moz-transition: all 2s linear;

	opacity: 0;
}

  .product-one-fade{
   	 margin-top: 20px;
	transition: all 2s linear;
	-webkit-transition: all 2s linear;
	-moz-transition: all 2s linear;
   	opacity: 1;
   	max-width: 110%;
   }

.product-two{
	margin-top: 150px;
	max-width: 90%;
	max-height: 100%;
	transition: all 2s linear;
	-webkit-transition: all 2s linear;
	-moz-transition: all 2s linear;
	opacity: 0;
}

  .product-two-fade{
   	 margin-top: 20px;
	transition: all 2s linear;
	-webkit-transition: all 2s linear;
	-moz-transition: all 2s linear;
   	opacity: 1;
   	max-width: 110%;
   }

   .product-three{
	margin-top: 150px;
	max-width: 90%;
	max-height: 100%;
	transition: all 2s linear;
	-webkit-transition: all 2s linear;
	-moz-transition: all 2s linear;

	opacity: 0;
}

  .product-three-fade{
   	 margin-top: 20px;
	transition: all 2s linear;
	-webkit-transition: all 2s linear;
	-moz-transition: all 2s linear;
   	opacity: 1;
   	max-width: 110%;
   }

/*END THREE IPADS 
*/




/*MEDIA QUERIES */


   @media screen and (min-width:1500px)  {

   }


   /*tablet-size lrg */
   @media screen and (max-width:991px)  {

   }


   @media screen and (max-width:800px) {

   }


   /*tablet-size med*/
   @media screen and (max-width:768px)  {
  
   }


   /*tablet-size sm*/
   @media screen and (max-width:580px)  { 
   
   }

   