html{
  margin:20px;
}

/*BODY*/

#index{
  background-image: url("../sfphoto.jpg");
}


/*NAV BAR*/

.logo{
  height:70px;
  width:70px;
}

.brand-button{
  margin-top: 45px;
  margin-top: 35px;
  margin-left:15px;
  color:#CC5200;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  background-color: transparent;
  border: none;
  float:left;
  font-weight: bold;
  display: inline-block;
  text-shadow: white 1px 1px;
}


.brand-button:hover{
  color:#CC5200;
  border: none;
}

a.nav-buttons:hover{
 text-decoration: none;
}

.navbar-nav{
  list-style: none;
  margin-left: 50px;
}

.nav-buttons{
float:right;
color:#CC5200;
font-family: 'Raleway', sans-serif;
font-size: 1.9em;
background-color: transparent;
border: none;
margin-top: 60px;
margin-left: 40px;
font-weight: bold;
display:inline-block;
text-decoration: none;
padding-left: 10px;
padding-right: 10px;
}

.navbar-toggle{
  background-color: #CC5200;
  margin-top: 65px;
}

.icon-bar{
  background-color:white;
}

.nav-buttons:hover{
background-color: #CC5200;
color:#B2B299;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
-webkit-border-radius: 20px 20px 20px 20px;
border-radius: 20px 20px 20px 20px;
background-color: #D67533;
padding-left: 10px;
padding-right: 10px;

}

.bio1, .bio2{ /*<--title and paragraph-->*/
  font-size: 4.8em;
  font-weight: 500;
  color: white;
  font-family: font-family: 'Patua One', cursive;
  margin-left: 30px;
}

.bio1{
  margin-top: 70px;
}

.bio2{
  margin-top: 40px;
  margin-bottom: 80px;
}

.here{
  color:#CC5200;
}


/*ALL SECTIONS */
.section-header{
color:#CC5200;
font-family: 'Raleway', sans-serif;
font-weight: 100;
letter-spacing: 1px;
margin-top: 30px;
margin-bottom: 60px;
font-size:3.7em;
}


/*ABOUT SECTION*/

.slide-image:hover {
  opacity: .8;
}

.slide-image:hover{
  display:inline-block;
}



.click-image{
display:none;
}


.about-section{
background-color: #fff;
margin:0px;
margin-bottom:100px;
}

.head-shot{
  max-width: 70%;
  max-height: 100%;
}

.bio{
  font-size: 2em;
  color:#6C6C50;
  letter-spacing: 2px;
}

/*icons */
i.fa {
font-size: 40px;
}


.language-text{
font-size:20px;
}

.languages{
  color:#6C6C50;
  font-family: inherit;
  display: inline-block;
  padding:30px;
}

.language-divs{
  margin-top: 20px;
  text-align: center;
}


/*PROJECT SECTION*/




.slide-image{
  margin-bottom: 140px;
}

.carousel-caption{
 text-align: center;
 bottom: -120px;
}


.carousel-control {
  top:50%;
}

.center-block{
  text-align: center;
}

.project-section{
background-color: #FFE9BF;
}


.carousel-control.right {
  background-image:none;
}

.carousel-control.left{
  background-image:none;
}

.cat-site-caption{
font-family: inherit;
color: #6C6C50;
text-shadow:none;
font-weight: 300;
}






/*CONTACT SECTION*/
.contact-section{
background-color: #6C6C50;
}

.center{
text-align: center;
}

.fa-phone-square{
  font-size:1.7em;
}

.contact-info{
  font-size:1.7em;
  color:white;
  letter-spacing: 2px;
  font-weight: 100;
}

a.contact-info:hover{
  text-decoration: none;
  color:#CC5200;
}

.border{
  border-bottom: solid 1px white;
  margin-top: 60px;
  margin-bottom: 20px;
}

.fa-envelope{
  color:white;
  margin-right:20px;
  font-size: 22px;
}




/*social media icons*/
.github{
  margin-left:-25px;
}

.icons{
  list-style-type: none;
  text-align: center;
  color:white;
  font-size: 40px;
}

.socialmedia-icons{
  display: inline-block;
  text-decoration: none;
}

.space{
  margin-right: 23px;
}

.fa-github{
color:white;
}

.fa-github:hover{
color:black;
}


.fa-linkedin{
color:white;
}

.fa-linkedin:hover{
color:#007bb6;
}

.fa-twitter{
color:white;
}

.fa-twitter:hover{
color:#00aced;
}

.fa-facebook{
  color:white;
}

.fa-facebook:hover{
  color:#3b5998;
}


/*<!-- media queries -->*/


/*tablet-size lrg */
@media(max-width:991px)  {

  /*navigation collapse and toggle*/
  .navbar-collapse.collapse {
    display:none !important;
  }
  .navbar-collapse {
    overflow-x: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: auto !important;
  }
  .collapse.in {
    display: block !important;
  }

  .bio1, .bio2{ /*<--title and paragraph-->*/
  font-size: 3.8em;
  }
  }


  /*tablet-size med*/
  @media(max-width:700px)  {

    .bio1, .bio2{ /*<--title and paragraph-->*/
    font-size: 3.4em;
    }

    i.fa {
    font-size: 35px;
    }

    .language-text{
    font-size:15px;
    }

    .section-header{
      font-size:3em;
    }
  }


/*tablet-size sm*/
  @media(max-width:580px)  {

.bio1, .bio2{ /*<--title and paragraph-->*/
    font-size: 2.8em;
    }



  }

/*mobile-size*/
  @media(max-width:450px)  {

.bio1, .bio2{ /*<--title and paragraph-->*/
    font-size: 2em;
    }

.section-header{
      font-size:2.5em;
    }
.portfolio-image{
  width:64%;
}


  }